body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.col-9>h1{
    border: solid black;
    padding-top: 65 px;
    padding-bottom: 65 px;
    background-color: #9D76C1;
}

h3{
    background-color: #D8B4F8;
    border: solid black;
    padding-top: 50 px;
    padding-bottom: 50 px;
    text-align: center;
}

ol>li{
    text-align: center;
    border: solid black;
    display: inline-block;
    height: 50px;
    width: 100px;
    margin: 2em;
    background-color: #A6FF96;
    flex-basis: auto;
}

#now{
    color: #5B0888;
}

#current-skill{
    color: #5B0888;
}

a{
    color: black;
}

a:hover{
    color: #D8B4F8;
}

.navi{
    color: blue;
    margin-right: 20px;
    border: solid black;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: #9D76C1;
}

footer>p{
    font-size: small;
}